.directory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 4rem auto;
}

.directory:hover,
.directory:active {
  cursor: pointer;
}
